@font-face {
  font-family: "Yuseol";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/YooSeol.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "Yuseol";
}
